.ai-agent-chat {
  // prevents the chat input from jumping all over the place
  min-height: $gl-spacing-scale-48;

  section {
    @include gl-bg-transparent;
  }

  footer {
    @include gl-border-transparent;
    @include gl-bg-white;
  }

  .duo-chat-message > .duo-chat-message-feedback {
    display: none;
  }
}
