- page_title s_("TrialDiscoverPage|Discover")
- add_page_specific_style 'page_bundles/trial_discover_page'

%h2= s_('TrialDiscoverPage|Discover Premium & Ultimate')
%p= s_('TrialDiscoverPage|Access advanced features, build more efficiently, strengthen security and compliance.')

= render 'discover_page_actions', group: @group

%h4.gl-mt-8= s_('TrialDiscoverPage|Access advanced features')

.gl-display-flex.gl-flex-wrap
  = render partial: 'discover_feature', collection: trial_discover_page_features, as: :item, locals: { group: @group }

%h4.gl-mt-8
  = s_('TrialDiscoverPage|Speed. Efficiency. Trust.')

.gl-display-flex.gl-flex-wrap
  = render partial: 'discover_detail', collection: trial_discover_page_details, as: :item

.gl-mt-5
  = render 'discover_page_actions', group: @group
